---
layout: default
title: "Welcome."
---
<div class="introduction">
  <h1>hello.</h1>


<p>I work with organizations to learn about complex problems and what can be done at them. My research interests lie in positively dealing with the challenges
  relating to current societal and technological trends. This space was made in the spirit of open science, to share my thoughts on ongoing research and practice and things
  mostly unrelated but that I wanted to write about anyway.
</p>

<p>Links to more polished work are available on <a href="https://scholar.google.com/citations?pli=1&authuser=1&user=Jbs8oScAAAAJ">here.</a></p>

</div>

<hr>

<div class="toc">
  <h2>recent posts</h2>
  <ul class="texts">
{% assign curDate = site.time | date: "%s" %}
  {% for item in site.texts reversed limit:20 %}
  {% assign postStartDate = item.date | date: '%s' %}
  {% if item.categories contains 'blog' and postStartDate < curDate %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
